.App {
  text-align: center;
}

/*Settings for whole app: */
:root {
  --clr-pri: #ff00d8;
  --clr-sec: #FF0058;
  --clr-ter:  #A700FF;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --fw-reg: 300;
  --fw-bold: 900;
}

html{
  scroll-behavior: smooth;
}

header{
  /* position: fixed; */
}

.btn {
  /* background: var(--clr-pri); */
  border: none;
  margin: 5px 5px;
}

.completeContainer{
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.taskContainer{
  /* background: var(--clr-sec); */
  max-width: 75%;
  margin: 10px auto;
  padding: 10px;
}

.overView{
  border: .5px solid black;
  text-align: justify;
  width: 100%;
  margin-left: 10px;
  padding: 10px;
}

/* Form component: */

.form{
  position: fixed;
  z-index: 1000;
  margin: 0 auto;
  /* background: var(--clr-ter); */
  background: gray;
}

.editText{
  color: black;
  opacity: 90%;
  background: white !important;
  border-radius: 5% / 5%;
  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid grey 1px;
  border-bottom: solid grey 1px;
  height: 3em;
  width: 400px;
  text-align: justify;
  padding: 1em;
}

.form-control {
  width: 400px;
}

#newTaskDetails{
  height: 10em;
}

#editDetails{
  height: 10em;
}



