/*Settings for whole app: */
:root {
  --clr-pri: #ff00d8;
  --clr-sec: #FF0058;
  --clr-ter:  #A700FF;
  --clr-gray: #6c757d;

  --fs-h1: 2rem;
  --fs-h2: 1.25rem;
  --fs-h3: 1rem;
  --fs-body: .75rem;
  --fs-small: .6rem;

  --fw-reg: 300;
  --fw-bold: 900;

  /* box-shadow */
  --bs: 0 0 2px var(--clr-gray);
}

html{
  scroll-behavior: smooth;
}

main{
  min-height: 70vw;
}

/* Whole background gets dimmed/whited out when form is showing in foreground */
.cover {
  position: absolute;
}
#bgDim{   
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: 10;
  background: gray;
  /* background: white; */
  opacity: 0.6;
}
#bgWhite{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding: 0;
  margin: 0;
  z-index: 10;
  background: white;
  opacity: 1.0;
}

h1{
  font-size: var(--fs-h1);
}

h2{
  font-size: var(--fs-h3);
}
/* Main formatting: */
.app{
  display: grid;
  grid-template-columns: 20% auto;
}
/* at 600px or less, side 'header' goes on top */
@media(max-width:600px){
  .app{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
}
.top{
  grid-column: 1/3;
}

/* Login Message */
.loginMessage{
  margin-left: 20px;
}
.logOut{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: var(--fs-body) !important;
  margin-left: 5px;
}

/* Page Header */
.titleHeader{
  text-align: center;
  background-color: var(--clr-gray);
  color: white;
  font-style: italic;
  padding-bottom: 2px;
  z-index: 1000;
}
@media(max-width:600px){
  .titleHeader{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
  .titleHeader1{
    grid-column: 2/3
  }
  .titleHeader2{
    grid-column: 3/4
  }
}
.titleHeader h1{
  font-size: 1.75rem !important;
  margin-bottom: 5px;
}
.titleHeader p{
  font-size: .75rem;
  margin-bottom: 0;
}
#hamburger{
  background: none;
  border: none;
  padding: 0;
  margin-top: 12px;
  outline-style: none;
}

.headerDiv{
  display: grid;
  grid-template-rows: 1.25fr 1fr 1fr 1fr 1fr;
  margin-left: 10px;
}
@media(min-width:601px){
  #menuClose{
    display: none;
  }
  #hamburger{
    display: none;
  }
}
@media(max-width:600px){
  .headerDiv{
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding-top: 5%;
    position: fixed;
    background: #ffffff;
    z-index: 10000;
    margin: 0 auto;
    transform: translateX(100%); 
    /* transition-duration: 250ms; */

  }

  #headerDiv-open{
    transform: translateX(0);
    transition-duration: 250ms;
  }
  .headerItem{
    width: 100%;
    display: flex !important;
    flex-direction: column;
    align-items: stretch !important;
    margin: 0 auto;
  }

  #menuClose{
    margin-top: 20px;
    background: none;
    border: none;
    padding: none;
    height: 50%;
    width: 50%;
    outline-style: none;
  }
  #menuClose svg{
    width: 50px;
    height: 50px;
  }

  .logoIcon{
    display: none;
  }
  
  .headerItem{
    width: 50% !important;
  }
  .headerItem button{
    margin: 0 auto; 
  }

  .headerButton{
    margin: 0 auto;
  }
}

.newTaskBtn{
  min-width: 6em;
  padding-right: 0;
}

/* box-shadow on most buttons */
header .btn-group .btn{
  box-shadow: var(--bs);
}

#searchContainer .btn{
  box-shadow: var(--bs);
}

btn {
  /* background: var(--clr-pri); */
  border: none;
  margin: 5px 5px;
}

input{
  box-shadow: var(--bs);
}

.headerButtonsDiv{
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
}
.headerBtnImg{
  height: 26px;
  width: 26px;
  margin-right: 5px;
}

#dropdown-basic-button, .headerButton{
  width: 85%;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: var(--clr-gray);
  border: var(--clr-gray);
  justify-self: center;
}
@media(max-width: 850px){
  .dropdown-basic-button, .headerButton{
   font-size: var(--fs-body);
   align-self: center;
   height: 70px;
   width: auto;
     }
  /* Text that disapears when viewport narrows */
  .btnDisText{
    display: none;
  }
}
/* hover effects for side buttons: */
#dropdown-basic-button:hover, .headerButton:hover{
  box-shadow: 0 0 1em #b8bab9;
}

/* elements in Search */
.logoIcon{
  height: 100px;
  /* margin: 10px 50px; */
}

.searchDiv{
  margin: 10px;
  }

#searchInput{
  padding-bottom: 8px;
  margin: 10px auto;
  width: 93%;
  transition: box-shadow;
  transition-duration: .25s;
}

#searchInput:hover{
  box-shadow: 0 0 1em #b8bab9;
}

#searchSubmit{
  width: 8%;
  padding: 8px 6px !important;
  width: 61px !important;
  transform: translateY(-2px);
  margin: 0 0 !important;
}

.searchIcon {
  width: 2em;
  height: auto;
  transform: transla
  teY(-3px);
}

#searchDispDiv{
  text-align: center;
}
#searchParamsDisp{
  font-style: italic;
  }

/* Tasks: */
/* These are for both task titles in Tasks and input and button in Search */

#schedBtnDiv{
  height: 48px;
  margin: 0 auto;
  width: 90%;
}

#schedBtnInnerDiv{
  display: flex !important;
  justify-content: space-between !important;
}

.schedBtn{
  height: 42px !important;
  font-size: 1rem !important;
  width: 47.5% !important;
  padding: 5px 5px !important;
}

.inlineGroup{
  white-space: nowrap;
}
#noTasksDiv{
  padding: 6px 12px;
}

.taskTitle{
  display: inline-block;
  padding-bottom: 0;
  margin-bottom: 0;
}

.taskTitleDone{
  font-style: italic;
  text-decoration: line-through;
  opacity: 0.5;
}

/* Task display as boxes, using Grid System: */
.taskContainerCols{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }

@media (max-width: 1000px){
  .taskContainerCols{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 600px){
  .taskContainerCols{
    display: grid;
    grid-template-columns: 1fr;
  }
}

.taskContainerRows{
  display: grid;
  grid-template-columns: 1fr;
}

/* task display as boxes - styling individual boxes: */

.taskTitleAndButtons{
  display: flex;
  justify-content: space-between;
}

@media(min-width: 600px){
  .taskSubcontainer{
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }

}

.catShowDiv{
  /* transform: rotate(-90deg); */
  margin: 5px;
  border-radius: .25rem;
  padding: 2px;
  background-color: #6c757d;
  width: fit-content;
}

.catShowText{
  background-color: #6c757d;
  font-size: var(--fs-small);
  color: white;
  margin: auto auto;
}


/* button-group in boxes: */
@media(min-width: 600px){
  #taskBtnCols{
    display: flex;
    justify-content: space-evenly;
    padding-left: 24px;
    border-top: #6c757d 1px solid;
    }
}

/* .taskcontainer is in App component, surrounds each instance of Task component */

.taskContainer:hover #taskSelect{
  display: block;
  transform: scale(1.75) translateX(-12px)
}

#taskSelect{
  display: none;  
  position: absolute;
  z-index: 1000;
  margin: 2px 2px;
  transform: translateX(-15px);
}
#taskSelectNone{
  display: none;
}

#taskSelect:checked{
  background-color: var(--clr-gray);
  transform: scale(1.75) translateX(-12px)
}

.taskContainer{
  margin: 10px auto;
  width: 90%;
  transition: box-shadow;
  transition-duration: .25s;
  border: .5px solid var(--clr-gray);
  border-radius: .25rem;
}
@media(max-width:700px){
  .taskContainer{
    border: 2px solid var(--clr-gray);
  }
}
.taskContainer:hover{
  box-shadow: 0 0 1em #b8bab9;
}

@media(min-width:600px){
  .taskSubcontainer{
    min-height: 120px;
  }
}

.titleDiv{
  padding-left: 1rem;
  max-width: 60%;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: auto 1fr
}
@media(max-width:800px){
  .titleDiv{
    padding-left: 0.5em;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr 1fr
  }
}

#starShowDiv{
  grid-row: 1/2;
  grid-column: 3/4;
  transform: translateY(5px);
}

#title{
  grid-row: 1/2;
  grid-column: 1/2;
}

#catShowDiv{
  min-width: 30px;
  transform: translateY(5px);
  grid-row:1/2;
  grid-column: 2/3;
}

#dateDue{
  grid-row:2/3;
  grid-column: 1/2;
}

@media(max-width: 800px){
  #starShowDiv{
      grid-row: 3/3;
      grid-column: 1/2;
      transform: translateY(0);
  }
  
  #title{
    grid-row:1/2;
    grid-column: 1/4;
  }

  #catShowDiv{
    grid-row:2/3;
    grid-column: 2/3;
    transform: none;
  }
  #dateDue{
    grid-row:2/3;
    grid-column: 1/2;
  }
}

.dateDue{
  font-style: italic;
  font-size: var(--fs-small);
  margin-top: .5rem;
  margin-bottom: .25rem;
  padding-left: 1rem;
  text-align: justify;
}

.dateDueDone{
  font-style: italic;
  opacity: 0.5;
}
@media(max-width:850px){
  .dateDue{
    padding-left: 0.5em;
  }
}

.taskBtnGrp{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
  width: 40%
}
@media(max-width:800px){
  .taskBtnGrp{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

#expandedButton{
  grid-column: 1/2;
}
#editButton{
  grid-column: 2/3;
}
#deleteButton{
  grid-column: 3/4;
}
#doneButton{
  grid-column: 4/5;
}

@media(max-width:800px){
  #expandedButton{
    grid-column: 1/2;
  }
  #editButton{
    grid-column: 2/3;
  }
  #deleteButton{
    grid-column: 1/2;
  }
  #doneButton{
    grid-column: 2/3;
  }
}

.taskBtn{
  display: inline-flex !important;
}
.taskBtn:hover{
  transform: scale(1.2, 1.2);
}

.icon{
  width: 2em;
  height: auto;
}

@media(max-width: 800px){
  .icon{
    width: 2.5em;
    height: auto;
  }
}
@media(max-width: 700px){
  .icon{
    width: 2.5em;
    height: auto;
  }
}

.detailsParagraph{
  max-width: 75%;
  margin: 0 auto;
  text-align: justify;
  padding: 1em;
  white-space: pre-wrap;
  word-break: break-word;
}

.toolTipContainer{
  position: relative;
  display: inline-block;
  }

.toolTip{
  visibility: hidden;
  width: auto;
  background-color: #6c757d;
  color: #fff;
  font-size: var(--fs-body);
  text-align: center;
  padding: 5px 5px;
  border-radius: .25rem;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.15s;
}

.toolTipContainer:hover .toolTip{
  visibility: visible;
  opacity: 1.0;
}
@media(max-width: 800px){
  .toolTipContainer:hover .toolTip{
    visibility: hidden;
  }
}

.toolTipAbove{
  transform: translateY(-30px);
}

.toolTipBelow{
  transform: translateY(40px);
  margin-left: -22px;
}

/* tasks overview (probably in its own pulldown or menu */
.overView{
  border: .5px solid black;
  text-align: justify;
  width: 100%;
  margin-left: 10px;
  padding: 10px;
}

/* Form component: */

#editTitle{
  overflow: hidden;
  }
@media(max-width:700px){
  #editTitle{
    font-size: 2rem !important;
  }
}
@media(max-width:700px){
  #editDetails{
    font-size: 2rem !important;
    height: 10rem !important;
  }
}
 @media(max-width:700px){
  #newTaskTitle{
    font-size: 2rem !important;
  }
 }
#newTaskDetails {
  text-align: justify;
  vertical-align: top !important;
  height: 10rem;
}
@media(max-width:700px){
  #newTaskDetails{
    font-size: 2rem !important;
    height: 10rem;
  }
}

#newTaskDate {
  font-size: 1rem;
  width: 100% !important;
  height: 100% !important;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
@media(max-width:700px){
  #newTaskDate{
    font-size: 2rem;
  }
}

#star{
  transform: translateY(-3px) !important;
  width: 35px;
  text-align: left !important;
}
@media(max-width:700px){
  #star{
    height: 25px;
    width: auto;
    margin-top: 5px;
  }
}

.formContainer{  
  width: 65vw;
  background: gray;
  opacity: 1.0;
  z-index: 100000;
  margin: 0 auto; 
}
@media(min-width:900px){
  .formContainer{
    width: 50vw;
  }
}

@media(max-width:700px){
  .formContainer{
    width: 100vw;
    margin-top: 0 !important;
    margin-left: auto;
  }
}

.form{
  position: fixed;
  z-index: 10000;
  /* margin: 10vw auto; */
  /* background: var(--clr-ter); */
  opacity: 1.0;
  padding: 15px;
  border: .5px solid var(--clr-gray);
  border-radius: .25rem;
  overflow-wrap: break-word;
  box-shadow: var(--bs);
}
@media(max-width: 700px){
  .form{
    position: absolute;
  }
}

.editText{
  color: black;
  opacity: 0.9;
  background: white !important;
  border-radius: .25rem;
  /* border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid grey 1px;
  border-bottom: solid grey 1px; */
  width: inherit;
  text-align: justify;
  vertical-align: top;
  padding: 1em;
}

.formMidRowBtn{
  /* background-color: green !important; */
  height: 100% !important;
  width: 100% !important;
  padding: 0;
  margin: 0;
  font-size: 1.25rem !important;
}

@media(max-width:700px){
  .formBtn{
    margin-left: 0;
  }
  .formMidRowBtn{
    height: 100px !important;
    font-size: 2rem !important;
  }
}

.catInputDiv{
  margin: 0 auto !important;
  width: 300px;
}

/* .form-label{
  color: white;
  font-size: var(--fs-body);
  margin-right: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  align-content: center;

} */
@media(max-width:700px){
  .form-label{
    font-size: 1rem;
  }
}

.form-bottom-row{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto !important;
}

.form-middle-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  /* justify-items: center; */
  /* align-items: center; */
}
@media(max-width:700px){
  .form-middle-row{
    grid-template-columns: 1fr;
  }
}

/* @media(max-width:800px){
  .form-middle-row{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    margin-bottom: 15px;
  }
} */

.form-bottom-row{
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0 auto;
}
@media(max-width:700px){
  .form-bottom-row{
    margin-top: 10px;
    display: grid !important;
    grid-template-rows: 1fr 1fr !important;
    grid-row-gap: 10px;
    justify-content: flex-start;
    margin-left: 0;
  }
}

/* sign-in form */
.signInForm{
  width: 45%;
  background: white;
  margin-top: 0;
}
@media(max-width: 700px){
  .signInForm{
    width: 90%;
  }
}

#loginFailedText{
  color: red;
}

.submit{
  transform: translateX(-15px);
}

#editDetails{
  height: 10em;
}

.link{
  color: blue;
  cursor: pointer;
  border: 0;
  background: none;
}

#or{
  text-align: center;
}

footer{
  /* position: fixed; */
  bottom: 0;
  margin-top: 95%;
  width: 100%;
  background-color: white;
  font-size: .75em;
}

.footerDiv{
  width: 75%;
  margin: 0 auto;
}

/* Schedule Component */

/* First 2 are in app.js: */
#schedTaskContainerApp{  
  border: var(--clr-gray) solid 1px;
  border-radius: .25rem;
  margin-top: 5px;
}

#backToSchedule{
  margin-left: calc(50% - 134.25px/2);
  margin-bottom: 5px;
  border: var(--clr-gray) 1px solid;
  border-radius: .25rem;
  color: white;
  background-color: var(--clr-gray);
}

.arrowImg{
  width: 100%;
  height: 100%;
}
.schedButton{
  padding: 0;
  width: 100%;
  border: 0;
  background: var(--clr-gray) !important
}
#schedOrderDiv{
  display: block;
  width: 50%;
}
.schedControl{
  float: left;
  margin-right: 5px;
}
#schedDone{
  transform: scale(1.75) translateX(2px) translateY(2px)
}
#schedContainer{
  display: block;
  width: 10%;
  float: left;
}

#showTask{
  background-color: var(--clr-gray) !important;
  margin-right: 10px;
}

#schedTime{
  margin-right: 10px !important;
}

#schedTimeInput{
  border: 0;
  margin-left: 10px;
  border-radius: .25rem;
}

#removeTime{
  border: none;
  background-color: var(--clr-gray);
  color: white;
  border-radius: .25rem;
  height: 31px;
  margin-left: 10px;
}




