.App {
  text-align: center;
}

/*Settings for whole app: */
:root {
  --clr-pri: #ff00d8;
  --clr-sec: #FF0058;
  --clr-ter:  #A700FF;
  --clr-gray: #6c757d;

  --fs-h1: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1rem;
  --fs-body: .75rem;

  --fw-reg: 300;
  --fw-bold: 900;

  /* box-shadow */
  --bs: 0 0 2px var(--clr-gray);
}

html{
  scroll-behavior: smooth;
}

main{
  min-height: 70vw;
}
h1{
  font-size: var(--fs-h1);
}

h2{
  font-size: var(--fs-h2);
}


/* Header */
.newTaskBtn{
  height: 2em;
}

/* box-shadow on most buttons */
header .btn-group .btn{
  box-shadow: var(--bs);
}

#searchContainer .btn{
  box-shadow: var(--bs);
}

.btn {
  /* background: var(--clr-pri); */
  border: none;
  margin: 5px 5px;
}

input{
  box-shadow: var(--bs);
}

/* elements in Search */
#searchContainer{
  width: 75%;
  margin: 0 auto;
}
#searchInput{
  width: 90%;
}
#searchSubmit{
  width: 10%;
}

.searchIcon {
  width: 2em;
  height: auto;
}

/* These are for both task titles in Tasks and input and button in Search */
.inlineGroup{
  white-space: nowrap;
}
.taskTitle{
  display: inline-block;
}

.taskContainerCols{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(max-width: 1000px){
  .taskContainerCols{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.taskContainerRows{
  display: grid;
  grid-template-columns: 1fr;
}

/* .taskcontainer is in App component, surrounds each instance of Task component */
.taskContainer{  
  /* background: var(--clr-sec); */
  width: 75%;
  margin: 10px auto;
  padding: 5px;
  border: .5px solid var(--clr-gray);
  border-radius: .25rem;
  overflow-wrap: break-word;
  box-shadow: var(--bs);
}

.taskSubcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title{
  text-align: left;
  padding-left: 2em;
}

.dateDue{
  font-style: italic;
}

.taskBtnGrp{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 5px;
}

.taskBtn{
  display: inline-flex !important;
}

.icon{
  width: 2em;
  height: auto;
}

@media(max-width: 800px){
  .icon{
    width: 1.5em;
    height: auto;
  }
}

.detailsParagraph{
  /* border: .5px solid var(--clr-gray); */
  width: 75%;
  margin: 0 auto;
  text-align: justify;
  padding: 1em;
}

.toolTipContainer{
  position: relative;
  display: inline-block;
  text-align: right;
  }

.toolTip{
  visibility: hidden;
  width: auto;
  background-color: #6c757d;
  color: #fff;
  font-size: var(--fs-body);
  text-align: center;
  padding: 5px 5px;
  border-radius: .25rem;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.15s;
}

.toolTipContainer:hover .toolTip{
  visibility: visible;
  opacity: 1;
}

/* tasks overview (probably in its own pulldown or menu */
.overView{
  border: .5px solid black;
  text-align: justify;
  width: 100%;
  margin-left: 10px;
  padding: 10px;
}

/* Form component: */

#editTitle{
  overflow: hidden;
  }

#newTaskDetails {
  text-align: justify;
  vertical-align: top !important;
  height: 10em;
}

.form{
  position: fixed;
  z-index: 1000;
  margin: 0 auto;
  /* background: var(--clr-ter); */
  background: gray;
}

.editText{
  color: black;
  opacity: 90%;
  background: white !important;
  border-radius: .25rem;
  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid grey 1px;
  border-bottom: solid grey 1px;
  height: 3em;
  width: 400px;
  text-align: justify;
  vertical-align: top;
  padding: 1em;
}

.form-control {
  width: 400px;
}

#editDetails{
  height: 10em;
}

footer{
  /* position: fixed; */
  bottom: 0;
  margin-top: 5em;
  border-top: .5px black solid;
  width: 100%;
  background-color: white;
  font-size: .75em;
  z-index: 100;
}
