.App {
  text-align: center;
}

/*Settings for whole app: */
:root {
  --clr-pri: #ff00d8;
  --clr-sec: #FF0058;
  --clr-ter:  #A700FF;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --fw-reg: 300;
  --fw-bold: 900;
}

html{
  scroll-behavior: smooth;
}

header{
  /* position: fixed; */
}
.completeContainer{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.form{
  position: fixed;
  z-index: 1000;
  margin-left: 120px;
  margin-right: 120px;
  background: var(--clr-ter);
}

.taskContainer{
  background: var(--clr-sec);
  max-width: 75%;
  margin: 10px auto;
  padding: 10px;
}

.overView{
  border: .5px solid black;
  text-align: justify;
  max-width: 45%;
  margin: 10px auto;
  padding: 10px;
}

